body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../../src/icon/whatpeper/Sunset Starry Sky Planet Scenery Wallpaper 4k HD Pc 6791k.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    margin-bottom: 20px;
}

main {
    background-color: #ffffff9e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
}

#errorMessage {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    main {
        padding: 15px;
        width: 75%;
        max-width: 100%;
    }

    input, button {
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 12px;
    }
}
