/**
 * ARQUIVO: modes.css
 * DESCRIÇÃO: Gerencia os planos de fundo e estilos específicos para os modos Claro e Escuro.
 */

body:not(.dark-mode) {
    background-image: url("../../database/templates/light_mode.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.dark-mode {
    background-image: url("../../database/templates/dark_mode.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 1000px) {
    body {
        background-attachment: fixed; 
        background-size: cover;
        background-position: center;
    }
}
